<div class="modal-header blue">
    <span class="text-uppercase lead">
        {{ vm.content.header }}
        <a class="fa fa-times pull-right text-white"
            ng-click="vm.cancel()">
        </a>
    </span>
</div>
 
<div class="modal-body">
    <i class="fa fa-question-circle fa-3x pull-left" 
        aria-hidden="true"></i>
        {{ vm.content.message }}
    <div class="top-margin-sm" align="center">
        <button type="button" 
                class="btn btn-sm btn-cancel" 
                ng-click="vm.cancel()" > Cancel </button>
        <button type="button"
                class="btn btn-sm btn-primary text-capitalize"
                ng-click="vm.approve()" > {{vm.btn_name || 'Ok'}} </button>
    </div>
</div>
