<span class="title-header-left font-34" ng-bind="vm.titleHeader"></span>
<div class="col-md-12 top-margin-sm"> 
    <button class="btn btn-primary" ng-click="vm.handleConfirm()">Confirmation Modal</button>
    <button class="btn btn-primary" ng-click="vm.handleForm()">Form Modal</button>
    <div class="table-responsive">
        <br />
    	<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th>ID</th>
    				<th>Name</th>
    				<th>Username</th>
    				<th>Company</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat = "user in vm.data">
    				<td ng-bind="user.id"></td>
    				<td ng-bind="user.name"></td>
    				<td ng-bind="user.username"></td>
    				<td ng-bind="user.company.name"></td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>