<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topbar" 
     role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="">
            <ul class="list list-inline">
                <li>
                    <img class = "photo-container-xs" 
                         ng-if="user.Subcon.Logo.urlThumb"
                         src=""
                         ngf-src="user.Subcon.Logo.urlThumb" > 
                </li>
            </ul>
        </a>
    </div>
    <!-- /.navbar-header -->
    <ul class=" nav navbar-top-links 
                navbar-right 
                navbar-collapse 
                navbar-ex1-collapse top-nav 
                uppercase" >
        <li  uib-dropdown on-toggle="toggled(open)">
            <a href="" id="dropdown-list" uib-dropdown-toggle >
                <i class="fa fa-user fa-lg"></i>
               
                <i class="fa fa-caret-down"></i>
            </a>
            <ul uib-dropdown-menu class="animated fadeIn dropdown">
                <li>
                    <a ui-sref="app.account">
                        <i class="fa fa-user"></i>
                        Account
                    </a>
                </li>
                <li>
                    <a ng-click="vm.update_password()">
                        <i class="fa fa-lock"></i>
                        Change Password
                    </a>
                </li>
                 <hr>
                <li>
                    <a ng-click="vm.logout()">
                        <i class="fa fa-power-off"></i>
                        Logout
                    </a>
                 </li>
            </ul>
        </li>
    </ul>
    <!-- /.navbar-top-links -->
</nav>
