
body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    color:#444;
    font-size: 14px;
    overflow-x: hidden;
}
a,
.table-hover td{ 
  cursor: pointer;
}
.light-gray{
  background: #727272;
}
.cyan {
  background: #00BCD4 !important;
}
.cyan-text {
  color: #00BCD4;
}
.accent-color{
  background: #009688 !important;
}
.orange-text{ color:#FF5722;}
.purple-text{color:#673AB7;}
.green-text {color: #4CAF50;}
.red-text {color: #ff0000;}
.yellow-text {color: #FFA000;}
.gray-text {color:rgba(0, 0, 0, 0.55);}
.name .small {
  font-size: 10px;
  margin-left: 5px;
}
a:hover{ text-decoration: none;}
p { margin: 5px;}
.fa-star,
.fa-star-o{
  color:#FF9800;
}
.modal{background: rgba(0, 0, 0, 0.37) !important;}
.low-opacity{opacity:0.4;}
.bold-text,
.info-table td span,
.set_bold {
    font-weight: bold;
}
.set_bold{
  color:#00BCD4 !important;
}
.set_bold:hover{
  color: #00BCD4 !important;
  background: #fff !important;
  cursor: default;
}
.left-margin{margin-left: 50px;}
.list-group-item div{display: inline-block;}
.fa-stack-1x {border-radius: 50%;}
.text-italic {font-style: italic;}
.text-danger {color: #F44336;}
.text-primary {color:#337ab7 !important;}
.text-center{text-align: center !important; }
.uppercase { text-transform: uppercase;}
.title { padding: 10px;}
.modal-close {
  margin:-10px -5px 0;
  padding: 5px;
  opacity: 0.8;
  font-size: inherit;
  background: #000;
}
.topbar{background: #00BCD4; border:0;}
.nav-wrapper {  padding: 0 20px;}
.navbar-top-links { margin-right: 0;}
.dropdown-menu i{ margin-right:10px; }
.card p{ margin-top: 10px; font-size: 10px;}
​.form-signin .md-input{ width: 250px !important;} 
.form-signin {  padding: 20px; position: relative;}
.navbar-top-links .dropdown-user { right: 0; left: auto;}
.navbar-top-links li { display: inline-block;}
.navbar-top-links li:last-child { margin-right: 15px;}
.navbar-top-links .dropdown-menu li { display: block;}
.navbar-top-links .dropdown-menu li:last-child { margin-right: 0;}
.navbar-top-links .dropdown-menu li,
.navbar-top-links .dropdown-menu li:hover,
.navbar-filter {
    padding: 8px;
}
.navbar-top-links .dropdown-menu li:hover{
    background: #ddd;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.navbar-top-links .dropdown-menu hr{
    margin:0;
}
.sidebar ul li a {  
    color: #B6B6B6; padding: 15px; 
}
.sidebar ul .active, 
.sidebar ul .active a, 
.sidebar ul .active a:hover{
    background: rgba(114, 114, 114, 0.12);
    color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus{
    background: transparent;
}
#side-menu{
    background: #212121;
}
#wrapper { width: 100%;}
#page-wrapper {
    padding: 0;
    min-height: 568px;
}
.navbar-top-links li a {
    padding: 20px;
    min-height: 50px;
    color: #fff;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu hr{
    margin:0;
}
.navbar-brand {
  font-size: 15px;
}
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover,
.navbar-top-links li a:hover,
.navbar-top-links li a:focus{
    background: transparent;);
}
.header,
.title-header,
.btn-add,
.navbar-brand,
.modal-header,
.white-text,
.btn-addon,
.pagination .active a,
.md-button,
.btn-submit,
.modal-close{
    color: #fff !important;
}
.header,
.teal,
.wrap,
.modal-header,
.btn-addon,
.btn-submit,
.btn-circle,
.photo-container-sm,
.fa-stack-1x {
    background: #0097A7 !important;
}
.card,
.account-wall,
.register-wall,
.registration-wall,
.message-wall,
.info-block,
.white,
input:read-only{
    background: #fff !important;
}
.top-margin,
.login-container {
    margin-top: 50px;
}
.registration-container {
  margin-top: 10px;
}
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
.fadeIn {
  margin: 0;
  padding:0;
  opacity:0;
  border-radius: 0;
  width: 180px;
  display: block; 
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  height: auto;
  
}
.dropdown-menu .divider{margin:0;}
td .dropdown-menu a {padding: 5px 15px; }
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar .nav-second-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.p-status,
.p-vehicle {
    margin-top: 15px;
    border-radius: 5px;
    align: center;
    padding: 5px;
    border-style: solid thin;
    width: 100px;
}
.p-status {
    background-color: #8BC34A;
}
.p-vehicle {
    background-color: #B6B6B6;
}
.input-group a {
  color: #757575;
}
/*-------btn------------*/

.btn-cancel,
.btn-cancel:hover,
.btn-close,
.btn-transparent,
.btn-sort,
.teal-text,
.teal-text:hover
.teal-text:focus{
    background: transparent;
    border: 0;
    color: #0097A7;
}
.btn-close {
  padding: 3px 5px;
  margin: 20px;
}
.btn-status,
.btn-status-yellow,
.btn-status-red{
    cursor: default;
    background: #4CAF50;
    padding: 5px;
    border-radius: 4px;
    color: #fff;

}
.btn-status-red {
    background: #d32f2f;
}
.btn-status-yellow {
  background:#FFA000;
}
.btn-sort,
.btn-sort:hover  {
    color: #727272 !important;
}

.sort-true:before{
    font-family: FontAwesome;
    content:"\f0d7";
}
.sort-false:before{
    font-family: FontAwesome;
    content:"\f0d8";
}
.btn-add,
.btn-add:hover{
    border:0;
    position: absolute;
    right: 25px;
    top: 90px; 
    background: #212121 !important;
}
.btn-add:focus,
.btn-transparent {
    outline: 0;
}
.btn-menu,
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
    border: 0;
    background: transparent !important;
    outline: 0;
}
.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}
.btn-circle-sm,
.btn-circle-sm:hover{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}
.btn-group-justified{
    border-bottom: #eee 1px solid;
}
/*-------*/

.topbar .dropdown li a{
    color:#444;
    font-size: 12px;
    padding: 5px 15px;
}
.collapse-btn{
    position: fixed;
    top: 51px;
    z-index: 9999;
    right: 10px;
    margin: 10px 15px;
}

    /*Content*/
.header{
    top: 80px;
    width: 100%;
    height: 120px;
    left: 0;
}
.title-header{
    position: absolute;
    top: 30px;
    color: #fff;
    left: 23px;
}
.content-wrapper{
    margin: 60px 0;
    padding: 0 0 60px;
    color: #727272;
    position: relative;
    min-height: 700px;
}
.wrap{
  height: 320px;
}
.content-view{
    margin:40px;
    min-height: 700px;
}
.card {
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    border:solid 1px #ddd;
}
.account-wall{
    padding: 40px 0px 20px 0px;
    height: 450px;
    max-width: 400px;
    margin: auto;
    border:solid 1px #0097a7;
}
.register-wall {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0px 0px 20px 0px;
    min-height: 450px;
    max-width: 600px;
    margin: auto;
}
.registration-wall {
    padding: 15px 0px 15px 0px;
    max-width: 600px;
    margin: auto;
    border:solid 1px #0097a7;
}
.message-wall {
    padding: 15px 30px 15px 30px;
    max-width: 750px;
    min-height: 400px;
    margin: auto;
    border:solid 1px #0097a7;
}
.photo-container {
  width: 100px;
  height: 100px;
  /*margin: 20px;*/
  border-radius: 100%;
  background-color: #0097a7;
  cursor: pointer;
}
.photo-container-sm {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.photo-container-xs {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.photo-container img,
.photo-container-sm img,
.photo-container-xs img,
.img-block img,
.pin-green img,
.pin-gray img,
.pin-red img,
.pin-yellow img,
.img-block-lg img,
.img-block-sm img {
    object-fit:cover !important;
    height: 100px;
    border-radius: 100%;
    background-color: #727272;
    border: #727272 solid 2px;
}
.photo-container-xs img {
  height: 30px;
}
.photo-container-sm img{
  height: 40px;
} 
.photo-container i {
     top: 40%;
}
.img-block {
    height: 120px;
    width: 120px;
    margin: 10px 0;
}
.img-block-sm {
  height: 80px;
  width: 80px;
}
.img-block-lg{
  height: 220px;
  width: 220px;
}
.photo-container img[class],
.photo-container-sm img[class],
.photo-container-xs img[class],
.img-block-lg img[class],
.img-block img[class],
.img-block-sm img[class] {
  width: 100%;
}
.img-block img{
  height: 120px;
}
.img-block-lg img {
  height: 220px;
  border-radius: 0;
}
.img-block-sm img {
  height: 80px;
}
.user-block {
  border: solid #ddd 1px;
  padding: 20px;
  margin: 10px;
}
.top-margin-sm{ margin-top: 20px;}
.top-margin-lg{ margin-top: 100px;}
.gray-border{ border:solid 1px #ddd;}

.row-table,
.row-pagination li a {
    border-radius: 0px;
    border: solid #f5f5f5 thin;
    background-color: #fff;
    border-color: #fff;
    border-top: 0;
}
.pagination li a {
    color: #00bcd4 !important;
}
.pagination  .disabled a {
  color: #757575 !important;
}
.pagination .active a,
.pagination .active a:hover {
    border:#00bcd4;
    background: #00bcd4;
}
.btn-addon,
.panel-default,
.row-table,
.map-container,
.row-pagination li a,
.row-pagination>.active>a,
.info-block,
.md-button,
.map {
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 

}
.map {
  border-width: 1px;
  border: solid thin #0097a7;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
    vertical-align: middle;
}
.table>thead>tr>th{
    padding: 15px;
    border-bottom: 0;
}
.table th>a {
    color: #727272;
    text-decoration: none;
}
.no-padding {
    padding: 0px;
}
.modal-content{
    border-radius: 0;
}

.summary  label { 
  display:inline-block !important; 
  width:100px; 
  text-align:left;
  color: #444;
  position: static;
}
.summary span,
.summary a {
  margin-left:20px;
}
.summary ul {
  list-style:none;
}

#color {
  height: 12px;
  width: 30px;
  border:solid 1px #ddd;
  display: inline-block;
}
.notif {
  background-color: #03A9F4;
  /*padding: 10px;*/
  color: #fff;
  margin: 10px auto;
  width: 83%;
}
.notif .fa {
  background: #0288D1;
  padding: 10px;
  margin-right: 15px;
}
.notif .close {
  padding:6px;
}
.content-view .notif {
  margin-left: 85px;
}
.modal .notif {
  position: absolute;
  width: 100%;
  margin: -44px -20px;
  top: 40px;
}



/* ~~MEDIA QUERIES~~ */

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 15px 0 0 225px;
    }
    .table-responsive {
      overflow-x:inherit;
    }
}

/*~~~~~~~~Custom input & label~~~~~~~*/

.md-input {
  /*margin: 12px 0 30px;*/
  display: block;
  width: 100%;
  border: none;
  padding: 5px 0;
  border-bottom: solid 1px #0097A7;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #0097A7 2%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #0097A7 2%);
  background-position: -1000px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #444;
}
.md-input:focus, 
.md-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

select,select:focus,
select::after{
    width: 100%;
    border: 0;
    border-bottom: solid 1px #0097A7;
    background: #fff;
    color: #444;
    padding: 5px 0;
    outline: none;
     -webkit-appearance: none;
    -moz-appearance: none;
}

.md-select,
.md-select:focus {
    background-image: 
       linear-gradient(45deg, transparent 50%, #0097A7 50%), 
       linear-gradient(135deg, #0097A7 50%, transparent 50%), 
       linear-gradient(to right, #FFF3F9, white);
    background-position: 
       calc(100% - 6px) 
        calc(1em + 1px), 
        calc(100% - 1px) 
        calc(1em + 1px), 100% 0px;
    background-size: 5px 5px, 5px 7px, 2.5em 2.5em;
    background-repeat: no-repeat;
}
.md-button {border:0;}
.md-button,
.md-button:hover,
.md-button:focus,
.btn-group .tab,
.btn-group .tab:focus,
.btn-group .tab:hover{
    background: #0097A7;
    color: #0097A7;
    outline: none;
    background-position: 0 0;
}

.btn-group .tab {
    background: transparent !important;
}
.btn-group-justified .btn-group .active,
.btn-group .md-button:focus {
    border-bottom: solid 3px #0097a7;
    box-shadow: none;
    outline: 0;
}
.tab-md,
.tab-md td {
  background-color: #00BCD4;
  outline: none;
  background-position: 0 0;
  color: #EEEEEE !important;
  box-shadow: none;
  outline: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}
.btn-submit{
    padding: 20px;
    width: 100%;
}
.md-button.active, 
.md-button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.49) !important;
  font-weight: bold;
}
form label {
  color:#999; 
  text-align: left;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:7px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
select ~ label,
input:focus ~ label,
input:valid ~ label {
  top:-15px !important;
  font-size:12px !important;
  color:#0097a7 !important;
}
input~i,
select~i {
    position: absolute;
    bottom: 5px;
    left: -5px;
    color: #0097a7;
}
fieldset.fsStyle {
    font-size: small;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 20px;
    padding-bottom: 25px;
    margin: -15px;
    margin-bottom: 10px;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    color: #888888;
    background-color: transparent;
    font-size: 13px;
    width: auto;
    border-bottom: 0px;
}

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    height: 40px;
}

.form-group label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 0;
    top: -10px;
    color: #0097A7;
}
.btn-addon{
    border-radius: 50% !important;
}
.search,
.search-sm  {
  position: relative;
  color: #aaa;
}

.search input,
.search-sm input {
    height: 35px;
    text-indent: 28px;
    border: 0;    
    background: transparent;
    border-bottom: solid 1px #b6b6b6;
    color: #727272;
}
.search input:focus,
.search-sm .form-control:focus,
.search-sm .form-control:active,
.btn:focus{
    outline: 0 !important;
}
.search input,
.search-sm input,
.search input:focus,
.search-sm .form-control:focus,
.search-sm .form-control:active,
.btn:focus  {  
    -webkit-appearance:none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.search .fa-search,
.search-sm .fa-search,
.search-sm .fa-times-circle { 
  position: absolute;
  top: 7px;
  left: 5px;
}
.search input{ width: 300px;}

.left-pane {
  padding: 35px;
  height: 250px;
}
  
.info-block{
    padding: 10px;
    border: solid 1px #ddd;
}
.info-block .pull-right a{
    color: #767676;
    margin: 10px;
    text-decoration: none;
}
.info-block p i {
    margin-right: 10px;
}
.info-block .fsStyle {
    padding: 0 20px;
    margin:0 20px 30px;
}
.info-block .panel-body {
 border-bottom: solid 1px #ddd;
}

.panel, 
.search input,
.search-sm input,
.btn-group,
.btn-group .md-button:focus,
.md-button,
.md-button:hover,
.md-button:focus,
.md-button-inverse,
.md-button-inverse:hover,
.md-button-inverse:focus,
.btn-group .tab,
.btn-group .tab:focus,
.btn-group .tab:hover{
    border-radius: 0  !important;
}
.registrar .fsStyle {
    margin: 10px
}
.md-button-inverse,
.md-button-inverse .active {
  color: #fff !important;
  box-shadow: none !important;
}
.md-button-inverse.active{
  background: #00BCD4 !important;
}
td .md-select,
td .md-select:focus {
    border-bottom: solid 1px #B6B6B6; 
    background-image: 
       linear-gradient(45deg, transparent 50%, #b6b6b6 50%), 
       linear-gradient(135deg, #b6b6b6 50%, transparent 50%), 
       linear-gradient(to right, #FFF3F9, white);
}
.float-right {
  float: right;
}
.img-container {
  margin: 10px;
  width: 250px;
  height: 250px;
  line-height: 250px;
  text-align: center;
  border: solid 1px #ddd;
  padding: 0 10px;
}
.img-container img {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.vehicle-details .bold-text{ margin-left: 10px;}
.custom-label {
  width: 150px;
  margin-bottom: 5px;
  display: inline-block;
}
.map-view {
  height: 550px !important;
}
.map-container{padding-bottom:  20px;}
.right-text {
  margin:15px 0;
}
.legend {
  list-style: none;
  text-align: center; 
  margin-left:auto;
  margin-right:auto ;
}
.legend p {
  margin-top: 30px;
}
.legend li { float: left; margin-right: 50px; }
.inner-panel {
  padding: 0;
}
.inner-panel .map-view {
  border:solid 1px #ddd;
  height: 350px !important;
}

.pin-green img,
.pin-gray img,
.pin-red img,
.pin-yellow img {
  height: 40px;
  z-index: 7;
  position: relative;
} 
.pin-green img {border:solid #009900;}
.pin-yellow img {border:solid #FFA000;}
.pin-red img {border:solid  #ff0000;}
.pin-green {  background: #009900; }

.pin-green,
.pin-gray,
.pin-red,
.pin-yellow {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 100%;
}

.pin-green:after,
.pin-red:after,
.pin-gray:after,
.pin-yellow:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 30px 14px 0px 14px;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -20px;
  left: 6px;
}
.pin-red {
  border-radius: 0;
}
.pin-red:after {
  border-width: 20px 14px 0px 14px;
  bottom: -15px !important;
}
.pin-red {
  background: #ff0000 !important; 
}
.pin-yellow {
  background: #FFA000 !important; 
}
.pin-green:after {
  border-color: #009900 transparent;
}
.pin-yellow:after {
  border-color: #FFA000 transparent;
}
.pin-red:after {
  border-color: #ff0000 transparent;
}
.pin-gray:after {
  border-color: #727272 transparent;
}

.pin-orange,
.pin-purple {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50% 50% 50% 0;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin-orange:after,
.pin-purple:after {
  font-family: FontAwesome;
  content: '\f005';
  color: #fff;
  width: 14px;
  height: 14px;
  padding: 0px 0 1px 2px;
  margin: 8px 0 0 8px;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.pin-orange {
  background: #FF5722;
}
.pin-orange:after {
  background: #EEEEEE;
}
.pin-purple {
  background: #673AB7;
}

.time span {
  padding: 10px;
}
.list-inline  p{
  display: inline-block;
}
.list-inline  p:last-child {
  float: right;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background: #00BCD4;
  border:0;
  position: relative;
}
.list-group-item.active:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #00bcd4;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 10px;
}
.list-title:hover {
  background: #fff;
  cursor: default;
}
.list-scroll {
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.btn-group .md-select {
  margin: 0 23px;
  border: solid 1px #0097a7;
}
label .md-select,
.btn-group .md-select {
  padding: 3px 0px 6px 12px;
  border: solid 1px #0097a7;
  width: 250px;
}
label .md-select {
  margin-right: 30px;
}
.scrollable {
  height: 600px;
  overflow: hidden;
  overflow-y:scroll; 
}

@media(min-width:768px) {
  .legend { 
    width:400px;
  }
    .page-wrapper { margin-left: 225px;}
    .fadeIn{  
        left:auto;
        right: 20px;
    }

    .sidebar {
        z-index: 1;
        position: fixed;
        top: 58px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #212121;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
}
@media(max-width: 767px) {
    #side-menu{
        margin-top: 110px;
    }
    .table-responsive{
      overflow-y: visible !important;
      min-height: auto !important;
    }
    td .dropdown-menu{  
        left:-150px;
    }
}


/*~~~~~~~~Admin-Monitoring~~~~~~~*/

.status-blue {
  color: white; 
  background-color: darkblue; 
  border-radius: 0px
}

.margin-auto {
  margin: auto;
}

.padding-left {
  padding-left: 1em;
}

.padding-right {
  padding-right: 1em;
}

.no-margin {
  margin: 0px;
}
.focus {
  border-width: 10px;
  border: solid thin #0097a7;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 

}
.text-center th {
  text-align: center;
}
.padding-top-sm {
  padding-top: 3px;
}
.scrollable::-webkit-scrollbar,
.list-scroll::-webkit-scrollbar {
    width: 5px;
}
 .scrollable::-webkit-scrollbar-track,
.list-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb,
.list-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.43);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.43);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
